@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "virtual:windi.css"; */


/* Hide scrollbars on all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}